@font-face {
    font-family: 'Cyrenia';
    src: url('lib/cyrenia-regular.ttf');
}

body {
    background-color: #252327;
    font-family: Cyrenia;
    overflow-x: hidden;
}

h4 {
    font-weight: normal;
}

button {
    border-width: 0;
    border-radius: 32px;
    font-size: 32px;
    text-align: center;
    padding: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #9948b1;
    color: white;
    font-family: Cyrenia;
    transition: all 0.3s;
}

.button {
    border-width: 0;
    border-radius: 32px;
    font-size: 32px;
    text-align: center;
    padding: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #9948b1;
    color: white;
    font-family: Cyrenia;
    transition: all 0.3s;
    text-decoration: none;
}

button:hover {
    scale: 110%;
    opacity: 90%;
}

.button:hover {
    scale: 110%;
    opacity: 90%;
}

.container {
    box-sizing: border-box;
    background: transparent;
    margin: auto;
    top: 200px;
    padding: 0%;
    max-width: 100%;
    transition: all 0.1s;
}

@keyframes fix-width{
    from {
        width: 10px;
    }
    to {
        width: fit-content;
    }
}

@keyframes appear{
    to {
        opacity: 100%;
    }
}

.container::after {
    content: '';
    display: block;
    clear: both;
  }

.card {
    box-sizing: border-box;
    width: 500px;
    background-color: #b1a8b9;
    border-radius: 32px;
    padding: 26px;
    padding-top: 0px;
    padding-right: 32px;
    margin-bottom: 24px;
    transform-origin: center;
    height: 300px;
    object-fit: contain;
}

.card--c3 {
    background-color: #403b37;
    color: white;
    padding: 24px;
}

.sitting-rai {
    position: absolute;
    bottom: 180px;
    right: 220px;
    float: left;
    scale: 85%;
    z-index: 2;
}

.social-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    position: fixed;
    right: 24px;
    background-color: #252327;
    border-radius: 48px;
    margin-top: 12px;
    z-index: 3;
    width: fit-content;
}

.slist {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slink {
    display: block;
    text-align: center;
    background-color: #b1a8b9;
    border-radius: 34px;
    text-decoration: none;
    color: #3d2e43;
    height: 64px;
    width: 64px;
    margin: 8px;
    border: none;
    padding: 0;
}

.slink::before {
    font-size: 38px;
}

.dropdown-panel::before {
    right: 24px;
}

.dropdown-panel {
    animation: close-drop 0.1s ease forwards;
    display: none;
    z-index: -9999;
    background-color: #3d2e43;
    padding: 18px;
    border-radius: 42px;
    position: fixed;
    top: 18px;
    opacity: 0%;
    width: inherit;
    padding-top: 80px;
}

.dropdown:hover, .social-links:hover .dropdown-panel {
    display: block;
    animation: open-drop 0.1s ease forwards;
}

.section-panel {
    display: none;
}

.MJ-dropdown:hover .section-panel {
    display: block;
}

@keyframes open-drop {
    to {   
        opacity: 100%;
    }
}

@keyframes close-drop {
    to {   
        opacity: 0%;
    }
}

.dropdown-slink {
    width: 270px;
    font-family: Cyrenia;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2);
    grid-gap: 4px;
    margin-top: 12px;
}

.gallery-img-frontpage {
    object-fit: cover;
    width: 100%;
    height: 220px;
}

.gallery-img {
    object-fit: cover;
    max-width: 100%;
    width: 300px;
    margin-bottom: 20px;
}

.gallery-button {
    margin: 24px;
    padding-left: 48px;
    padding-right: 52px;
    margin-bottom: 0;
}

.gallery-container {
    max-width: 100%;
    margin: auto;
    top: 150px;
    /* border-style: solid;
    border-width: 32px; */
}

.header {
    background-color: #252327;
    height: 140px;
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0;
    top: -20px;
}
.curved-bg {
    background-color: #252327;
    position: absolute;
    top: 140px;
    width: 100%;
    height: 35px;
}
.curved {
    border-radius: 35px 35px 0px 0px; 
    position: relative;
    width: 100%;
    height: 36px;
    background-color: #403b37; 
}

.curved-gradient {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(64,59,55,1) 0%, rgba(64,59,55,0) 100%);
    position: fixed;
    width: 100%;
    height: 50px; 
    z-index: 1;
    top: 150px;
}

.MJ-logo {
    object-fit: cover;
    width: 70%;
    float: left;
}

.MJ-button {
    margin: 0px;
    padding-left: 48px;
    padding-right: 52px;
    margin-top: 18px;
    background-color: #ea9f75;
}

.MJ-sect-list {
    z-index: 5; 
    margin-left: 24px;
    margin-top: 24px;
    margin-right: 28px;
    margin-left: 324px;
}

.MJ-sect-button {
    background-color: #2b2b2b;
    outline-color: white;
    outline-width: 6px;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    outline-style: solid;
    color: white;
    font-size: 24px;
    margin: 10px;
}

.MJ-sect-button:hover, .MJ-active-tab, .MJ-sect-button:focus {
    background-color: white;
    color: black;
    outline-width: 0;
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
    scale: 100%;
    margin: 4px;
}

.MJ-active-tab, .MJ-active-tab:hover {
    color: #ea9f75;
}

.home-button {
    height: 64px;
    display: inline;
    position: fixed;
    display: inline;
    top: 28px;
    left: 32px;
}

.header-cont {
    position: fixed;
    display: inline;
    top: 32px;
    z-index: 5;
    left: 32px;
    color: #a69cad;
    font-size: 28px;
}


.section-button {
    border-radius: 32px;
    transition: all 0.5s;
    min-width: 32px;
    height: 36px;
    align-items: center;
    padding-top: 12px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
}

.section-button:hover, .section-button:focus {
    min-width: 32px;
    height: 44px;
    padding-top: 18px;
    padding-bottom: 2px;
}

.section-text {
    margin-left: 12px;
    font-family: Cyrenia;
}

.topnav {
    background-color: none;
    position: relative;
    z-index: 4;
    min-height: 64px;
    top: 16px;
    float: right;
    display: none;
}

.topnav #myLinks {
    display: none;
    position: fixed;
    top: 118px;
    right: 0;
    background-color: #403939;
    border-radius: 32px;
    width: 100%;
}

.MJ-logo-header {
    height: 100px; 
    margin-left: 92px; 
    position: fixed; 
    width: 200px; 
    object-fit: scale-down; 
    top: 12px;
    max-width: calc(75vw - 150px);
}

.MJ-tab:not(:target) {
    display: none;
}
  
.MJ-tab:target {
    display: block;
}

@media (max-width: 1020px) {
    .container {
        scale: 120%;
        top: 400px;
    }
}

@media (max-width: 908px) {
    .section-button {
        display: block;
    }
    .hide-smaller {
        display: none;
    }
    .MJ-sect-list {
        width: 95%;
        left: 0px;
        margin-left: 24px;
        margin-bottom: 24px;
    }
    .topnav {
        display: block;
    }
}

@media (max-width: 650px) {
    .container {
        scale: 100%;
    }
    .hide-mobile {
        visibility: hidden;
    }
}

@media (max-width: 550px) {
    .card {
        scale: 100%;
        max-width: 100%;
    }
    .container {
        top: 300px;
        width: 110%;
    }
    .section-text {
        display: none;
    }
}

@media (max-width: 500px) {
    .container {
        width: 100%;
        scale: 90%
    }
    .card {
        margin-left: -24px;
        max-width: 500px;
    }
}

@media (max-width: 450px) {
    .card {
        scale: 100%;
        margin-left: -10vw;
    }
    .container {
        scale: 85%;
    }
}

@media (max-width: 412px) {
    .card {
        margin-left: -14.5vw;
        scale: 100%;
    }
    .container {
        scale: 80%;
        /* right: 12px; */
        top: 200px;
    }
    .social-links {
        /* width: 100%; */
        left: 10%;
    }
    .dropdown-panel {
        right: 11%;
    }

}