@font-face {
    font-family: 'Cyrenia';
    src: url('lib/cyrenia-regular.ttf');
}

body {
    background: #252327;
    font-family: Cyrenia, Comic Sans MS, sans-serif;
    overflow-x: hidden;
}

h4 {
    font-weight: normal;
}

button {
    border-width: 0;
    border-radius: 32px;
    font-size: 32px;
    text-align: center;
    padding: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #9948b1;
    color: white;
    font-family: Cyrenia;
    transition: all 0.3s;
}

.button {
    border-width: 0;
    border-radius: 32px;
    font-size: 32px;
    text-align: center;
    padding: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #9948b1;
    color: white;
    font-family: Cyrenia;
    transition: all 0.3s;
    text-decoration: none;
}

button:hover {
    scale: 95%;
    opacity: 90%;
}

.button:hover {
    scale: 95%;
    opacity: 90%;
}

.container {
    box-sizing: border-box;
    background: transparent;
    margin: auto;
    top: 280px;
    padding: 0%;
    max-width: 100%;
    transition: all 0.3s;
}

.container::after {
    content: '';
    display: block;
    clear: both;
}

.card {
    box-sizing: border-box;
    width: 500px;
    background-color: #b1a8b9;
    border-radius: 32px;
    padding: 26px;
    padding-top: 0px;
    padding-right: 32px;
    margin-bottom: 24px;
    transform-origin: center;
    height: 300px;
    object-fit: contain;
    opacity: 0;
    animation-fill-mode: forwards;
    /* animation-name: slideUp; */
    animation-duration: 0.5s;
    transition: all 0.3s;
    animation-timing-function: cubic-bezier();
    animation-delay: calc(var(--animation-order) * 100ms);
}

.card-hover:hover {
    scale: 102%;
}

.card--c3 {
    background-color: #403b37;
    color: white;
    padding: 24px;
}

@keyframes slideUp {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    100% {
        transform: translateY(0px);
        opacity: 1;
    }

    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
}

.fade-down-class {
    transition: all 0.3s !important;
    animation-delay: 0s !important;
    animation-duration: 3s !important;
    animation-name: fadeDown !important;
}

#loader {
    opacity: 0;
    text-align: center;
    animation-name: slideUp;
    animation-duration: 1s;
    animation-delay: 8s;
    color: white;
    animation-fill-mode: forwards;
    outline-width: 3px;
    vertical-align: middle;
    top: 300px;
    position: sticky;
}

@keyframes fadeDown {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    10% {
        opacity: 0;
        transform: translateY(100px);
    }

    95% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fix-width {
    from {
        width: 10px;
    }

    to {
        width: fit-content;
    }
}

@keyframes appear {
    to {
        opacity: 100%;
    }
}

.stamp {
    width: 200px;
    vertical-align: middle;
    image-rendering: pixelated;
    margin: 4px;
    transition: 0.3s all;
}

.stamp:hover {
    z-index: 2;
    scale: 1.3;
}

.sitting-rai {
    position: absolute;
    top: -471px;
    right: -74px;
    float: left;
    scale: 50%;
    z-index: 2;
}

.social-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    position: fixed;
    right: 24px;
    background-color: #252327;
    border-radius: 48px;
    margin-top: 12px;
    z-index: 4;
    width: fit-content;
    animation: 0.5s ease-out 0s 1 slideDown;
}

.slist {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slink {
    display: block;
    text-align: center;
    background-color: #b1a8b9;
    border-radius: 34px;
    text-decoration: none;
    color: #3d2e43;
    height: 64px;
    width: 64px;
    margin: 8px;
    border: none;
    padding: 0;
}

.slink-pressed {
    background-color: #3d2e43;
    color: #b1a8b9;
}

.slink::before {
    font-size: 38px;
}

.links-text {
    color: #b1a8b9;
    font-size: 24px;
    vertical-align: middle;
    height: 84px;
    line-height: 84px;
    padding-left: 24px;
    padding-right: 8px;
}

.dropdown-panel::before {
    right: 24px;
}

.dropdown-panel {
    animation: close-drop 0.1s ease forwards;
    display: none;
    z-index: -9999;
    background-color: #3d2e43;
    padding: 18px;
    border-radius: 42px;
    position: fixed;
    top: 18px;
    opacity: 0%;
    width: 336px;
    padding-top: 80px;
}

.caret {
    display: block;
    animation: open-drop 0.1s ease forwards;
}

.section-panel {
    display: none;
}

.MJ-dropdown:hover .section-panel {
    display: block;
}

@keyframes open-drop {
    to {
        opacity: 100%;
    }
}

@keyframes close-drop {
    to {
        opacity: 0%;
    }
}

.dropdown-slink {
    width: fit-content;
    font-family: Cyrenia;
    height: 58px;
    padding-left: 32px;
    padding-right: 48px;
}

#post-expanded {
    height: 620px;
    background-color: #C2BDC7;
    position: fixed;
    top: 3vh;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 6;
    width: 90%;
    height: 90vh;
    padding: 12px;
    border-radius: 32px;
    display: none;
    outline-color: rgba(0, 0, 0, 0.8);
    outline-width: 500px;
    outline-style: solid;
    contain: strict;
}

.postviewer {
    width: 450px;
    height: 500px;
    border-style: none;
    background-color: transparent;
    border-radius: 32px;
}

#post-expanded .postviewer {
    width: 100%;
    height: calc(80vh - 24px);
}

.home-background {
    background-image: url(/media/Rai/banner2025.avif);
    position: fixed;
    background-repeat: no-repeat;
    background-attachment: scroll;
    scroll-snap-type: y mandatory;
    min-height: 300px;
    background-position-x: center;
    background-size: auto 300px;
    width: 100%;
    left: 0px;
    top: 0px;
    overflow: hidden;
    transition: all 0.5s;

}

.faded {
    opacity: 0 !important;
    transition: all 0.3s !important;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2);
    grid-gap: 4px;
    margin-top: 12px;
}

.gallery-img-frontpage {
    object-fit: cover;
    width: 100%;
    height: 220px;
}

.gallery-img {
    object-fit: cover;
    max-width: 100%;
    width: 300px;
    text-align: center;
    background-color: #5d565191;
    color: #a69cad79;
    display: inline-block;
    grid-row-end: span 25;
    margin: auto;
}

.gallery-img-wide {
    max-width: 98%;
    width: 608px;
}

.gallery-button {
    margin: 24px;
    padding-left: 48px;
    padding-right: 52px;
    margin-bottom: 0;
}

.gallery-year {
    color: white;
    font-size: 84px;
    background-color: transparent;
    height: 86px !important;
    text-align: center;
    vertical-align: middle;
}

.gallery-container {
    /* width: calc(100% - 16px); */
    margin: auto;
    top: 260px;
    position: relative;
    opacity: 0;
    animation-name: slideUp;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-delay: 1.5s;
    display: grid;
    grid-gap: 8px; /* [1] Add some gap between rows and columns */
    grid-template-columns: repeat( auto-fill, minmax( 300px, 1fr ) ); /* [2] Make columns adjust according to the available viewport */
    grid-auto-rows: 0px; /* [3] Set the height for implicitly-created row track */
}

.gallery-tag-title {
    position: absolute;
    top: 110px;
    left: 10vw;
    color: white;
    font-size: 48px;
}

.tag-button {
    background-color: white;
    color: #403b37;
    margin: 6px;
    padding: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 28px;
}

.tag-button-front {
    background-color: #2b2b2b;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 4px white solid;
}

.tag-button-selected,
.tag-button:focus {
    background-color: #9948b1;
    color: white;
    outline: 0;
}

#tag-container {
    position: absolute;
    top: 190px;
    right: auto;
    left: 0;
    overflow-x: scroll;
    white-space: nowrap;
    max-width: 100vw;
    padding-top: 4px;
    padding-bottom: 4px;
    scrollbar-width: none;
}

.header {
    background-color: #252327;
    /* height: 140px; */
    height: 140px;
    transform: scaleY(100);
    position: fixed;
    z-index: 3;
    width: 100vw;
    left: 0;
    top: -20px;
    animation-name: loadFromHeader;
    animation-timing-function: cubic-bezier();
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.header-mj {
    animation-name: loadFromHeaderMJ;

}

@keyframes loadFromHeader {
    from {
        transform: scaleY(50);
    }

    to {
        transform: scaleY(1);
    }
}

@keyframes loadFromHeaderMJ {
    from {
        transform: scaleY(50);
    }

    to {
        transform: scaleY(1);
        background-color: #403939;
    }
}

@keyframes headerUnload {
    0% {
        transform: scaleY(1);
    }
    10% {
        transform: scaleY(50);
    }

    95% {
        transform: scaleY(50);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes headerUnloadMJ {
    0% {
        transform: scaleY(1);
        background-color: #403939;
    }
    10% {
        transform: scaleY(50);
        background-color: #252327;
    }

    95% {
        transform: scaleY(50);
        background-color: #252327;
    }

    100% {
        transform: scaleY(1);
    }
}

.curved-bg {
    background-color: #252327;
    position: absolute;
    top: 140px;
    width: 100%;
    height: 35px;
}

.curved {
    border-radius: 35px 35px 0px 0px;
    position: relative;
    width: 100%;
    height: 36px;
    background-color: #403b37;
}

.MJ-logo {
    object-fit: cover;
    width: 70%;
    float: left;
}

.MJ-button {
    margin: 0px;
    padding-left: 48px;
    padding-right: 52px;
    margin-top: 18px;
    background-color: #ea9f75;
}

.MJ-sect-list {
    z-index: 5;
    margin-left: 24px;
    margin-top: 24px;
    margin-right: 28px;
    margin-left: 324px;
    max-width: 800px;
    float: right;

    opacity: 0;
    animation-name: SlideLeft;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

.MJ-sect-button {
    background-color: #2b2b2b;
    outline-color: white;
    outline-width: 6px;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    outline-style: solid;
    color: white;
    font-size: 24px;
    margin: 10px;
}

.MJ-sect-button:hover,
.MJ-active-tab {
    background-color: white;
    color: black;
    outline-width: 0;
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
    scale: 100%;
    margin: 4px;
}

.MJ-active-tab,
.MJ-active-tab:hover {
    color: #ea9f75;
}

.MJ-tab-container {
    width: 90%;
    left: 5%;
    top: 100px;
    position: absolute;
    color: rgb(214, 210, 208);
    font-size: 20px;
    line-height: 26px;
    max-width: 1000px;
    margin: auto;
}

.mj-screenshot {
    max-height: 200px;
    max-width: 48%;
    object-fit: contain;
}

.home-button {
    height: 64px;
    display: inline;
    position: fixed;
    display: inline;
    top: -5px;
    left: 0px;
    background-image: url(media/Rai/cursor.avif);
    background-repeat: no-repeat;
    padding-left: 42px;
    background-size: 20px;
    background-position: 20px;
}

.header-cont {
    position: fixed;
    display: inline;
    top: 32px;
    z-index: 5;
    left: 32px;
    color: #a69cad;
    font-size: 28px;
    transition: all 0.3s;
    opacity: 0;
    animation-name: SlideLeft;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes SlideLeft {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


.section-button {
    border-radius: 32px;
    transition: all 0.5s;
    min-width: 32px;
    height: 36px;
    align-items: center;
    padding-top: 12px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    text-decoration: none;
}

.section-button-on,
.section-button:hover {
    min-width: 32px;
    height: 44px;
    padding-top: 18px;
    padding-bottom: 2px;

}

.section-text {
    margin-left: 12px;
    font-family: Cyrenia;
}

.MJ-nav {
    position: relative;
    top: 100px;
}

.topnav {
    background-color: none;
    position: fixed;
    z-index: 4;
    min-height: 64px;
    top: 24px;
    right: 24px;
    transition: all 0.3s;
    display: none;

    opacity: 0;
    animation-name: SlideLeft;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.topnav #myLinks {
    display: none;
    position: fixed;
    top: 95px;
    right: -20px;
    background-color: #403939;
    border-radius: 32px;
    width: 100vw;
}

.MJ-logo-header {
    height: 100px;
    margin-left: 92px;
    position: fixed;
    object-fit: scale-down;
    top: -18px;
    transition: all 0.3;
    width: 200px;
}

.MJ-tab:not(:target) {
    display: none;
}

.MJ-tab:target {
    display: block;
}

.header-corner {
    width: 100%;
    height: 200vh;
    position: absolute;
    border-color: #252327;
    border-style: solid;
    border-width: 24px;
    border-radius: 64px;
    top: 116px;
    left: -24px;
    pointer-events: none;
    z-index: -1;
}

.gallery-loader {
    color: #a69cad;
    position: fixed;
    text-align: center;
    width: 100%;
    top: 230px;
    z-index: 1;
    background-color: #403b37f5;
    padding-top: 24px;
    padding-bottom: 24px;
}

.comm-container {
    display:flex;
    justify-content: center;
    top: 132px;
    position:absolute;
    /* flex-wrap: wrap; */
    margin: 24px;
    height: max-content;
    transition: all 0.3;
}

.comm-section {
    text-align: left;
}

.comm-panel {
    background-color: #b1a8b9;
    padding: 24px;
    padding-top: 8px;
    border-radius: 32px;
    max-width: 600px;
    min-width: 280px;
    width: 50%;
    height: fit-content;
    font-size: 24px;
    color: #3D2D43;
    text-align: center;
    line-height: 28px;
    flex-shrink: 0;
    margin-right: 24px;
}

.comm-panel button, .terms button {
    color: #3D2D43;
    background-color: #a69cad;
    margin: auto;
    margin-bottom: 14px;
    padding: 8px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 32px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.comm-panel .checked {
    background-color: #3D2D43;
    color: #b1a8b9;
}

.comm-previews {
    display: inline;
    max-width: 400px;
    width: 45%;
    overflow: hidden;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
}

.comm-img {
    width: inherit;
    position: relative;
    object-fit: scale-down;
    max-width: 50%;
    vertical-align: middle;
    margin: 2px;
    background-color: #252327;
}

.terms {
    display: none;
    background-color: #252327;
    padding: 24px;
    border-radius: 32px;
    width: 80%;
    margin: auto;
    max-width: 600px;
    top: 150px;
    position: relative;
    color:white;
    font-size: 24px;
    border-width: 8px;
    border-style: dotted;
    border-color: #3D2D43;
    margin-bottom: 30px;
}

.terms li {
    margin: 12px;
}

/* Style the Image Used to Trigger the Modal */
.clickable-image {
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s !important;
    outline-width: 0px;
    outline-style: solid;
    outline-color: #ccc;
    /* background-color: #ccc; */
}

.clickable-image:hover {
    opacity: 0.9;
    outline-width: 6px;
    outline-offset: -6px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 6;
    /* Sit on top */
    padding-top: 0px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
    text-align: center;
}

/* Modal Content (Image) */
.modal-content {
    position: sticky;
    object-fit: cover;
    max-width: 100%;
    max-height: calc(90vh - 64px);
    border-radius: 12px;
    margin-top: 0;
    height: inherit;
    image-rendering: pixelated;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    position: relative;
    display: block;
    max-width: calc(90vw - 100px);
    text-align: left;
    color: #ccc;
    padding: 10px 0;
    min-height: 48px;
    max-height: 150px;
    margin-top: 20px;
    margin-left: 32px;
    font-size: 24px;
    margin-bottom: 0;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.3s;
}

@keyframes zoom {
    from {
        transform: scale(0.6);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* The Close Button */
#close-popup {
    position: fixed;
    top: 12px;
    right: 32px;
    color: #f1f1f1;
    font-size: 64px;
    font-weight: bold;
    transition: 0.3s;
}

#close-popup:hover,
#close-popup:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}


/* @media (max-width: 1020px) {
    .container {
        scale: 120%;
        top: 500px;
    }
} */

.profile-container {
    background-color: #2b2b2b;
    border-radius: 32px;
    color: white;
    font-size: 20px;
    padding: 14px;
    margin: auto;
    margin-top: 12px;
    width: 90%;
    border-width: 8px;
    border-color: #ea9f75;
    border-style: solid;
    max-width: 600px;
    text-align: left;
}

@media (min-width: 1420px) {
    .home-background {
        background-position-x: left;
    }
}

@media (max-width: 908px) {
    .section-button {
        display: block;
    }

    .hide-smaller {
        display: none;
    }

    .MJ-sect-list {
        width: 90%;
        left: 0px;
        margin-left: 24px;
        margin-bottom: 24px;
        float: left;
        animation-delay: 0s;
    }

    .MJ-sect-button {
        float: left;
    }

    .topnav {
        display: block;
    }
    .home-background {
        background-position-x: 20%;
    }
}

@media (max-width: 650px) {
    .hide-mobile {
        visibility: hidden;
    }
    .masonry {
        grid-template-columns: repeat( auto-fill, minmax( 200px, 1fr ) );
    }
    .gallery-img {
        width: 240px;
    }
}

@media (max-width: 777px) {
    .only-wide {
        visibility: hidden;
    }
    .comm-panel {
        width: 88%;
        max-width: unset;
    }
    .comm-container {
        display: block;
        margin: 0px;
    }
    .comm-previews {
        display: contents;
        width: 48%;
    }
}

@media (max-width: 525px) {
    .card {
        scale: 100%;
    }

    .container {
        top: 400px;
        max-width: 100vw;
    }

    .section-text {
        display: none;
    }

    .social-links {
        /* width: 100%; */
        margin: auto;
        position: fixed;
        right:15%;
    }

    .dropdown-panel {
        margin: auto;
        top: 10px;
    }

    .gallery-container {
        top: 250px;
    }

    .gallery-tag-title {
        font-size: 32px;
        top: 125px
    }
    .home-background {
        height: 400px;
        background-size: auto 400px;
        background-position-x: 55%;
    }
}

@media (max-width: 450px) {
    .container {
        width: 100%;
    }

    .gallery-img-wide {
        width: 98%;
    }
}

@media (max-width: 350px) {
    .gallery-img {
        width: 100%;
        max-width: 100%;
    }
}